{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="titleBox">
    <h3>Panier</h3>
</div>
    <!--{% for ligne in panier.lignes.all %}
        Produit : {{ligne.produit.nom}} <br/>
        Quantite : {{ligne.quantite}} <br/>
        <a class="btn" href="supprimer/{{ligne.id}}">Supprimer</a>
    {% endfor %}-->
<div class="box">
	<form action="/panier/generer" method="get">
		<input class="btn" type="submit" value="Générer la période" />
		<div id="dd" class="input-append date" data-date-format="yyyy-MM-dd">
			<label for="id_dd">De </label>
			<input class="span2" type="text" size="16">
			<span class="add-on">
				<i class="icon-calendar"></i>
			</span>
		</div>
		<div id="df" class="input-append date" data-date-format="yyyy-MM-dd">
			<label for="id_df">à </label>
			<input class="span2" type="text" size="16">
			<span class="add-on">
				<i class="icon-calendar"></i>
			</span>
		</div>
	</form>
    <form action="{% url panier.views.home %}" method="post">{%csrf_token %}
    	{{ formset.management_form }}
	    {% for forml in formset.forms %}
	        <div class="item">
	        {{ forml.as_p }}
	        <a class="btn" href="supprimer/{{forml.id.value}}">Supprimer</a>
	        </div>
	        <br/>
        {% endfor %}
        <input class="btn" type="submit" value="Valider" />
    </form>

    <form action="/commande/commander/" method="post" >{% csrf_token %}
        <input type="hidden" name="idPanier" value="{{panier.id}}" />
        {% if panier.lignes.count > 0 %}
            <input class="btn btn-success" type="submit" value="Commander" />
        {% else %}
            <input class="btn btn-success" type="submit" value="Commander" disabled="true" />
        {% endif %}
    </form>
</div>
    
{% endblock %}

<script type="text/javascript">
	$('#datetimepicker').datetimepicker({
            pickTime: false,
            format: 'yyyy-MM-dd',
			language: 'fr',
          });
</script>
