{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="container police">
		<h3 class="police">Nouvelle recette</h3>
	
	
		<form enctype="multipart/form-data" method="post">{% csrf_token %}
		{% if form.non_field_errors %}
			<div class="form_errors">
			{% for err in form.non_field_errors %}
				<div class="form_error_message">{{ err }}</div>
			{% endfor %}
			</div>	
		{% endif %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			<div {% if field.errors %}class="field_error"{% endif %}>
				{{ field.label_tag }}
				{{ field }}
				{% for err in field.errors %}
					<span class="error_message">{{ err }}</span>
				{% endfor %}
			</div>
		{% endfor %}
		<a id="add" href="#">Ajouter une ligne</a>
		<br/><br/>
		<!--<div id="reponse-get"></div>-->
	
		{{ formset.management_form }}
		{% for forml in formset.forms %}
		<div class="item">
		{{ forml.as_p }}
		<p style=""><a class="delete" href="#">Supprimer</a></p>
		</div>
		<br/>
		{% endfor %}
		
		<br/><br/><br/><br/>	
		<div><input class="btn btn-large btn-warning" id="submit-ajouter-recette" type="submit" value="Ajouter" /></div>
		</form>
	</div>

	<script>
		$("#id_produit").keyup(function() {
			var val = $(this).attr('value');
			$('#reponse-get').show();
			$('#reponse-get').load("/recette/get-produit/?v=" + val);
		});
		
		$("#id_produit").attr("autocomplete", "off");
		
		$(document).ready(function () {
		
		$("#add").click(function () {
			//val = $("#id_produit").attr("value");
			return addForm(this, "form", null);
		});
	    
		$(".delete").click(function () {
		    return deleteForm(this, "form");
		});
		
		$("body").click(function () {
		    $('#reponse-get').hide();
		});

	    });
	</script>
{% endblock %}
