{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container police">
	<h3 class="police">Mes recettes</h3>
	<table class="table table-hover table-striped titleTab">
	    <tr>
		<th>Nom</th>
		<th>Catégorie</th>
		<th>Durée</th>
		<th>Difficulté</th>
	    </tr>
	    {% for recette in recettes %}
		<tr>
                   <th><a href="/recette/detail/{{recette.pk}}">{{recette.nom}}</a></th>

		    <td>
			{% for categorie in recette.categorie.all %}
			    {{categorie.nom}}
			    {% if not forloop.last %} / {% endif %}
			{% endfor %}
		    </td>
		    <td>{{recette.duree}}</td>
		    <td>{{recette.difficulte}}</td>
		</tr>
	    {% endfor %}
	</table>
	{% if favoris %}
	<hr/>
	<h3 class="police">Mes favoris</h3>
	<table class="table table-hover table-striped titleTab">
		<tr>
			<th>Nom</th>
			<th>Catégorie</th>
			<th>Durée</th>
			<th>Difficulté</th>
		</tr>
		{% for fav in favoris %}
	    <tr>
		<th><a href="/recette/detail/{{fav.pk}}">{{fav.recette.nom}}</a></th>
		<td>
		    {% for categorie in fav.recette.categorie.all %}
			{{categorie.nom}}
			{% if not forloop.last %} / {% endif %}
		    {% endfor %}
		</td>
		<td>{{fav.recette.duree}}</td>
		<td>{{fav.recette.difficulte}}</td>
	    </tr>
	{% endfor %}
	</table>
	{% endif %}
    </div>
{% endblock %}
