{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="container police">
		<h3 class="police">Rechercher une recette</h3>
		<form action="/recette/recherche" method="get">
            <div class="left-search">
                <label>Nom de la recette </label>{{form.nom}}
                <label>Durée</label>{{form.duree}}
            </div>
            <div class="submit-search">
                <input class="btn btn-large btn-warning" type="submit" value="Rechercher" />
            </div>
            <div class="right-search">
                <label>Difficulté</label>{{form.difficulte}}
                <label>Catégorie</label>{{form.categorie}}
            </div>
		</form>
		{% if recettes %}
        <div class="resultats">
		<hr/>
		<h3 class="police">Liste des recettes</h3>
		<table class="table table-hover table-striped titleTab">
			<tr class="titleTab">
				<th>Nom</th>
				<th>Catégorie</th>
				<th>Durée</th>
				<th>Difficulté</th>
			</tr>
			{% for recette in recettes %}
				<tr>
				<th><a href="/recette/detail/{{recette.pk}}">{{recette.nom}}</a></th>
					<td>
						{% for categorie in recette.categorie.all  %}
							{{categorie.nom}}
							{% if not forloop.last %} / {% endif %}
						{% endfor %}
					</td>
					<td>{{recette.duree}}</td>
					<td>{{recette.difficulte}}</td>
				</tr>
			{% endfor %}
		</table>
        </div>
		{% endif %}
	</div>
	
{% endblock %}	
