{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="home-top">
        {% include "home/carousel.html" %}
    </div>
    <div id="home-center" >
        <h2 class="police">Commencez votre planning immédiatement 
            {% if user.is_authenticated %}
            <a class="btn btn-large btn-warning" href='/planning'>Mon planning</a>
            {% else %}
            <a class="btn btn-large btn-warning" href='/inscription'>S'inscrire</a>
            {% endif %}
        </h2>
    </div>
    <div id="home-bottom" class="container">
	 {% if latest_news %}
	 <div id="home-news" class="row">
		{% for news in latest_news %}
		<div class="news">
			<h3 class="police">{{ news.nom }}<span class="news-date">{{ news.date_pub }}</span></h3>
			<h4 class="newsContent police">{{ news.info }}</h4>
			<hr/>
		</div>	
		{% endfor %}
	 </div>
	{% endif %}
	<div class="row">
	    <div class="span4 col">
		<img src="{% static 'img/calendar.png' %}">
		<h3 class="police">Plannifiez vos repas</h3>
		<p class="police">
		    Faites votre planning 
                    de la semaine pour vous 
                    et votre famille grace a une
                    large sélection de recettes. 
		</p>
	    </div><!-- /.span4 -->
	    <div class="span4 col">
		<img src="{% static 'img/panier.png' %}">
		<h3 class="police">Commandez</h3>
		<p class="police">
                    Commandez l'ensemble 
                    des ingredients nécessaires 
                    a la préparation de 
                    vos recettes.
                </p>
	    </div><!-- /.span4 -->
	    <div class="span4 col">
		<img src="{% static 'img/miam.png' %}">
		<h3 class="police">Cuisinez et dégustez</h3>
		<p class="police">
                    A la réception de vos 
                    produits, enfilez votre 
                    tablier, préparez votre 
                    repas et partagez le avec 
                    votre entourage.
                </p>
	    </div><!-- /.span4 -->
	</div><!-- /.row -->
	<hr/>
	<div class="row ligne span12">
	    <img style="float: left;" src="{% static 'img/varie.png' %}">
	    <div class="ligneContent">
		<h3 class="police">Mangez varié</h3>
		<p class="police">
			Nous vous proposons différentes recettes selon vos préferences, 
			vos objectifs, les repas de saison...
		</p>
	    </div>
	</div>

    </div>
    
{% endblock %}
