{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>{{produit.nom}}</h1>
		<div id="produitDetails">
			<div id="produitPanelGauche">
					<p><img src="{{produit.image.url}}" class="img-rounded" alt="Illustration pour : {{produit.nom}}"/></p>
					<p><a class="btn" href="#myModal" data-toggle="modal">Ajouter à mon planning</a></p>
			</div>
			<div id="produitInstructions">
				<h3>Détails</h3>
				<ul>
					<li>Quantité : {{produit.quantite}} {{produit.unite.abreviation}}</li>
					<li>{{produit.valeur_energetique}} kCal</li>				
				</ul>
			</div>
		</div>	
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Ajout d'un repas</h3>
          </div>
          <div class="modal-body">
                <form action="{% url planning.views.ajouter_produit_repas %}" method="post">{%csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="fieldWrapper">
                        {{ form.produit.errors }}
                        <label for="id_recette">Produit :</label>
                        {{ form.produit }}
                    </div>
                    
                    <div class="fieldWrapper">
                        {{ form.quantite.errors }}
                        <label for="id_recette">Quantite :</label>
                        {{ form.quantite }}
                    </div>
                    
                    <div class="fieldWrapper">
                        {{ form.unite.errors }}
                        <label for="id_recette">Unite :</label>
                        {{ form.unite }}
                    </div>
                    
                    <div class="fieldWrapper">
                        {{ form.date.errors }}
                        <label for="id_date">Date :</label>
                        <div id="datetimepicker" class="input-append date">
                            {{ form.date }}
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                        </div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.ordre.errors }}
                        <label for="id_ordre">Type :</label>
                        {{ form.ordre }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.nbPersonne.errors }}
                        <label for="id_nbPersonne">Nombre de personnes :</label>
                        {{ form.nbPersonne }}
                    </div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Enregistrer" />
                </form>
          </div>
        </div>
            
        <script type="text/javascript">
          $('#datetimepicker').datetimepicker({
            pickTime: false,
            format: 'yyyy-MM-dd',
          });
        </script>

{% endblock %}