{% extends "base.html" %}
{% load static %}

{% block content %}
	<h2>Recherche</h2>
	<form action="/produit/recherche" method="get">
		{{form.as_p}}
		<p>
			<input type="submit" value="Rechercher" />
		</p>
	</form>
	<h2>Liste des produits</h2>
	<table>
		<tr>
			<th>Nom</th>
			<th>Type</th>
			<th>Valeur énergétique</th>
		</tr>
		{% for produit in produits %}
			<tr>
				<td><a href="/produit/detail/{{produit.pk}}">{{produit.nom}}</a></td>
				<td>
						{{produit.type_produit}}
				</td>
				<td>{{produit.valeur_energetique}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}	
