{% extends "base.html" %}
{% load static %}

{% block content %}
	<h3>Recherche</h3>
	<form action="/produit/recherche" method="get">
		{{form.as_p}}
		<p>
			<input class="btn" type="submit" value="Rechercher" />
		</p>
	</form>
	<h3>Liste des produits</h3>
	<table class="table table-hover">
		<tr>
			<th>Nom</th>
			<th>Type</th>
			<th>Valeur énergétique)</th>
		</tr>
        <tbody>
		{% for produit in produits %}
			<tr>
				<td><a href="/produit/detail/{{produit.pk}}">{{produit.nom}}</a></td>
				<td>
						{{produit.type_produit}}
				</td>
				<td>{{produit.valeur_nutritionnelle.energie}} kJ</td>
			</tr>
		{% endfor %}
        </tbody>
	</table>
{% endblock %}	
