{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Panier</h1>
    <!--{% for ligne in panier.lignes.all %}
        Produit : {{ligne.produit.nom}} <br/>
        Quantite : {{ligne.quantite}} <br/>
        <a class="btn" href="supprimer/{{ligne.id}}">Supprimer</a>
    {% endfor %}-->
    
    <form action="{% url panier.views.home %}" method="post">{%csrf_token %}
    	{{ formset.management_form }}
	    {% for forml in formset.forms %}
	        <div class="item">
	        {{ forml.as_p }}
	        <a class="btn" href="supprimer/{{forml.id.value}}">Supprimer</a>
	        </div>
	        <br/>
        {% endfor %}
        <input class="btn" type="submit" value="Valider" />
    </form>

    <form action="/commande/commander/" method="post" >{% csrf_token %}
        <input type="hidden" name="idPanier" value="{{panier.id}}" />
        {% if panier.lignes.count > 0 %}
            <input class="btn btn-success" type="submit" value="Commander" />
        {% else %}
            <input class="btn btn-success" type="submit" value="Commander" disabled="true" />
        {% endif %}
    </form>
    
{% endblock %}

