{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container police">
    <div class="titleBox">
        <h3 class="police">Commandes</h3>
    </div>
    {% if commandes %}
    <div class="box">
        {% for commande in commandes %}
            <p>
                Numéro : {{commande.numero}}<br/>
                Date : {{commande.date}}<br/><br/>
                <a class="btn btn-warning" href="detail/{{commande.id}}/">Détail</a>
            </p>
            <hr/>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

