{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>Nouvelle recette</h1>
	<form method="post">{% csrf_token %}
	{% if form.non_field_errors %}
		<div class="form_errors">
		{% for err in form.non_field_errors %}
			<div class="form_error_message">{{ err }}</div>
		{% endfor %}
		</div>	
	{% endif %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
		<div {% if field.errors %}class="field_error"{% endif %}>
			{{ field.label_tag }}
			{{ field }}
			{% for err in field.errors %}
				<span class="error_message">{{ err }}</span>
			{% endfor %}
		</div>
	{% endfor %}
	<a id="add" href="#">Ajouter une ligne</a>
	<div id="reponse-get"></div>
	<hr/>
	
	{{ formset.management_form }}
	{% for forml in formset.forms %}
	<div class="item">
	{{ forml.as_p }}
	<p style=""><a class="delete" href="#">Supprimer</a></p>
	</div>
	{% endfor %}
	
		
	<input class="btn" id="submit-ajouter-recette" type="submit" value="Ajouter" />
	</form>

	<script>
		$("#id_produit").keyup(function() {
			var val = $(this).attr('value');
			$('#reponse-get').show();
			$('#reponse-get').load("/recette/get-produit/?v=" + val);
		});
		
		$("#id_produit").attr("autocomplete", "off");
		
		$(document).ready(function () {
		
		$("#add").click(function () {
			val = $("#id_produit").attr("value");
			return addForm(this, "form", val);
		});
	    
		$(".delete").click(function () {
		    return deleteForm(this, "form");
		});
		
		$("body").click(function () {
		    $('#reponse-get').hide();
		});

	    });
	</script>
{% endblock %}