{% extends "base.html" %}
{% load static %}

{% block content %}
	<ul class="breadcrumb">
		<li><a href="/recette/categorie/">Categories</a> <span class="divider">/</span></li>
		<li class="active">{{categorie.nom}}s</li>
    </ul>
    <div class="titleBox">
	<h3>Les {{categorie.nom|lower}}s</h3>
    </div>
	{% for recette in recettes %}
		<div class="ligneRecette span3">
            {% if recette.image %}
			<img src="{{recette.image.url}}" alt="Illustration pour : {{recette.nom}}"/>
            {% else %}
            <img src="/upload/default.jpg" alt="Illustration pour : {{recette.nom}}"/>
            {% endif %}
			<a href="/recette/detail/{{recette.id}}?id={{categorie.id}}&name={{categorie.nom}}s">{{recette.nom|truncatechars:18}}</a>
			<div class="footer">{{recette.instructions|truncatechars:50}}</div>
		</div>
	{% endfor %}
	
{% endblock %}
