{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>{{recette.nom}}</h1>		
		<div id="recetteDetails">
			<div id="recettePanelGauche">
					<p><img src="{{recette.image.url}}" class="img-rounded" alt="Illustration pour : {{recette.nom}}"/></p>
					<p><a class="btn" href="#myModal" data-toggle="modal">Ajouter à mon planning</a></p>
							{% if user.is_authenticated %}
								{% if estFavorite %}
										<p><a href="/recette/defavoriser/{{recette.pk}}/" class="btn">Retirer des favoris<i class="icon-star"></i></a></p>
								{% else %}
										<p><a href="/recette/favoriser/{{recette.pk}}/" class="btn">Ajouter aux favoris<i class="icon-star"></i></a></p>
								{% endif %}
							{% endif %}
			</div>
			<div id="recetteInstructions">
				<h3>Ingrédients</h3>
				<ul>
				{% for ligne in recette.lignes.all %}
					<li>{{ligne.quantite}} {{ligne.unite.abreviation}} de <a href="/produit/detail/{{ligne.produit.id}}">{{ligne.produit.nom}}</a></li>
				{% endfor %}
				</ul>
				
				<h3>Préparation</h3>			
				{{recette.instructions|linebreaks}}
			</div>
		</div>
		
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Ajout d'un repas</h3>
          </div>
          <div class="modal-body">
                <form action="{% url recette.views.detail id=id %}" method="post">{%csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="fieldWrapper">
                        {{ form.recette.errors }}
                        <label for="id_recette">Recette :</label>
                        {{ form.recette }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.date.errors }}
                        <label for="id_date">Date :</label>
                        <div id="datetimepicker" class="input-append date">
                            {{ form.date }}
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                        </div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.ordre.errors }}
                        <label for="id_ordre">Type :</label>
                        {{ form.ordre }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.nbPersonne.errors }}
                        <label for="id_nbPersonne">Nombre de personnes :</label>
                        {{ form.nbPersonne }}
                    </div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Enregistrer" />
                </form>
          </div>
        </div>
            
        <script type="text/javascript">
          $('#datetimepicker').datetimepicker({
            pickTime: false,
            format: 'yyyy-MM-dd',
	    language: 'fr',
          });
        </script>
{% endblock %}	
