{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3>Mes recettes</h3>
    <table class="table table-hover">
        <tr class="titleTab">
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Durée</th>
            <th>Difficulté</th>
        </tr>
        {% for recette in recettes %}
            <tr class="ligneTab">
                <td><a href="/recette/detail/{{recette.pk}}">{{recette.nom}}</a></td>
                <td>
                    {% for categorie in recette.categorie.all %}
                        {{categorie.nom}}
                        {% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </td>
                <td>{{recette.duree}}</td>
                <td>{{recette.difficulte}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
