<div id="footer">
	<div id="footer-container" class="container">
		<a href="http://www.ooshop.com/"><div id="ooshop"></div></a>
		<a href="http://www.mangerbouger.fr/"><div id="mangerbouger"></div></a>
		<div id="footer-text">
			<p>A propos de mangez mieux</p>
			<ul>
				<li>
					<a href="#">Qui ?</a>
				</li>
				<li>
					<a href="#">Mentions legales</a>
				</li>
				<li>
					<a href="#">Conditions d utilisation</a>
				</li>
				<li>
					<a href="#">Annonceurs</a>
				</li>
				<li>
					<a href="#">Liens</a>
				</li>
			</ul>
		</div>
		</div>
	</div>
</div>
