{% load static %}
<div id="footer">
	<div id="footer-container" class="container">
		<div id="footer-text">
			<p>A propos de mangez mieux</p>
			<ul>
				<li>
					<a href="#">Qui ?</a>
				</li>
				<li>
					<a href="#">Mentions legales</a>
				</li>
				<li>
					<a href="#">Conditions d utilisation</a>
				</li>
				<li>
					<a href="#">Annonceurs</a>
				</li>
				<li>
					<a href="#">Liens</a>
				</li>
			</ul>
		
		</div>
		<div class="images">
			<img style="margin-right: 20px" src="{% static 'img/google.png' %}"/>
			<img style="" src="{% static 'img/manger-bouger.png' %}"/>
		</div>
		
	</div>
</div>
