<div id="menu">
	<div class="navbar">
    	<div class="navbar-inner">
        	<div class="container">
            	<ul class="nav">
                	<li>
						<a href="/"><i class="icon-home"></i> Accueil</a> 
					</li>
                    <li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-book"></i> Recettes
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/recette/categorie"><i class="icon-list"></i> Parcourir</a>
							</li>
							<li>
								<a href="/recette/recherche"><i class="icon-search"></i> Rechercher</a>
							</li>
							
							{% if user.is_authenticated %}
							<li>
								<a href="/recette/ajouter"><i class="icon-plus"></i> Ajouter</a>
							</li>
							{% endif %}
                            {% if user.is_authenticated %}
                            <li>
                                <a href="/recette/mesrecettes"><i class="icon-tasks"></i> Mes recettes</a>
                            </li>
                            {% endif %}
						</ul>
					</li>
                    <li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-barcode"></i> Produits 
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/produit/type"><i class="icon-list"></i> Parcourir</a>
							</li>
							<li>
								<a href="/produit/recherche"><i class="icon-search"></i> Rechercher</a>
							</li>
						</ul>
					</li>
					{% if user.is_authenticated %}
                    <li> 
						<a href="/planning"><i class="icon-calendar"></i> Planning</a> 
					</li>
	
                    {% endif %}
				</ul>
                <form class="navbar-search pull-right" action="">
                	<input class="search-query" type="text" placeholder="Rechercher une recette, un produit...">
			<div id="reponse-get"></div>
                </form>
				<ul class="nav pull-right">
					{% if user.is_authenticated %}
					<li> 
						<a href="/panier"><i class="icon-shopping-cart"></i> Panier</a> 
					</li>
					{% endif %}
				
					{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ user.first_name|capfirst|truncatechars:15}}
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/mon_compte"><i class="icon-cog"></i> Mon compte</a>
								</li>
								<li>
									<a href="/commande"><i class="icon-shopping-cart"></i> Mes commandes</a>
								</li>
								<li>
									<a href="/stats"><i class="icon-picture"></i> Mes stats</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/deconnexion"><i class="icon-off"></i> Déconnexion</a>
								</li>
							</ul>
						</li>
					{% else %}
					<li>
						<a href="/connexion"><i class="icon-off"></i> Connexion</a>
					</li>
					<!--
					<li>
						<a href="/mot_de_passe_oublie">Mot de passe oublié?</a>
					</li>
					-->
					{% endif %}
					<li class="divider-vertical"></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	$(".search-query").keyup(function() {
		var val = $(this).attr('value');
		$('#reponse-get').show();
		$('#reponse-get').load("/recette/get-produit/?v=" + val);
	});
	
</script>
