#content {
    padding-top: 20px;
    min-height: 500px;
    /*
     *THEME 1
     */
    background: rgb(255,250,177);
    background: -moz-linear-gradient(top,  rgba(255,250,177,1) 0%, rgba(255,246,115,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,177,1)), color-stop(100%,rgba(255,246,115,1)));
    background: -webkit-linear-gradient(top,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffab1', endColorstr='#fff673',GradientType=0 ); 
    
    /*
     * THEME 2 
    background: rgb(255,246,139);
    background: -moz-linear-gradient(top,  rgba(255,246,139,1) 0%, rgba(255,217,94,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,246,139,1)), color-stop(100%,rgba(255,217,94,1))); 
    background: -webkit-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: -o-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff68b', endColorstr='#ffd95e',GradientType=0 );*/

}

#menu .navbar {
    margin-bottom: 0px;
}

#header {
    height: 113px;
    /*
     * THEME1*/
    background-color: #d0e274;
    
    
    /*
     * THEME2 
    background-color: #99432f;*/
    
}

#logo {
    float: left;
    background-image: url("../img/logo3.png");
    width: 332px;
    height: 113px;
}

#footer {
    
    bottom: 0;
    width: 100%;
    height: 120px;
    /*
     * THEME1 */
    background-color: #d0e274;
    
    
    /*
     * THEME2 
    background-color: #99432f;*/
}

#footer-container {
    padding-top: 15px;
}

#footer-container a {
    /*
     * THEME1*/
    color: grey; 
    
    /*
     * THEME2
     
    color: #fff88e;*/
    
    font-size: 11px;
}

#footer-container ul {
    margin-left: 15px;
}

#footer-container li {
    list-style: none;
    height: 13px;
}

#footer-text {
    float: center;
    height: 105px;
    width: 608px;
}

#footer-text p {
    margin-left: 15px;
    font-weight: bold;
    color: #ffd95e;
    margin-bottom: 0px;
}

#ooshop {
    float: left;
    background-image: url("../img/ooshop.gif");
    width: 331px;
    height: 93px;
}

#mangerbouger{
    float: right;
    background-image: url("../img/mangerbouger.gif");
    width: 331px;
    height: 93px;
}

#header-right {
    float: right;
    height: 113px;
    width: 608px;
}

#home-top-right {
    height: 288px;
    /*
     * THEME1*/
    background-color: #d0e274;
    
    /*
     * THEME2 
    background-color: #cc7841;*/
    
    /*background-image: url("../img/home-right.png");*/
    
    margin-left: 0px;
}

#home-top-right p {
    font-size: 40px;
    line-height: 41px;
    text-align: center;
    width: 290px;
    color: white;
    text-shadow: 0px 2px 3px #666;
    font-family: Calibri, Verdana, Arial, 'sans serif';
    margin-top: 30px;
    margin-left: 4px;
}

#home-top-right .btn {
    /*
     * THEME 1*/
    background-color: #fcc46d; 
    
    /*
     * THEME 2 
    background-color: #b4cc00;*/
    
    width: 160px;
    background-image: none;
    text-shadow: 0px 2px 3px #666;
    height: 50px;
    font-size: 25px;
    
    -moz-box-shadow: 4px 4px 10px 0px #656565;
    -webkit-box-shadow: 4px 4px 10px 0px #656565;
    -o-box-shadow: 4px 4px 10px 0px #656565;
    box-shadow: 4px 4px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
}

#home-top-right .btn:hover {
    /*
     * THEME 1*/
    background-color: #ffd18a; 
    
    /*
     * THEME 2 
    background-color: #dbec5b;*/
}

#home-top {

    font-family: Calibri, Verdana, Arial, 'sans serif';
    font-size: 20px;
    margin-bottom: 20px;
}

#home-bottom {
    border-radius: 30px 30px 30px 30px;
    margin-right: 20px;
    height: 600px;
    margin-left: 0px;
    -moz-box-shadow: 4px 4px 30px 0px #656565;
    -webkit-box-shadow: 4px 4px 30px 0px #656565;
    -o-box-shadow: 4px 4px 30px 0px #656565;
    box-shadow: 4px 4px 30px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
    background-color: white;
    margin-bottom: 20px;
}

#home-bottom .col {
    margin-left: 25px;
    width: 280px;
}

.imgCol {
    width: 259px;
    height: 118px;
    
    /*
     * THEME 1*/
    box-shadow: 0 0 0 8px #ffde8d inset;
    
    /*
     * THEME 2 
    box-shadow: 0 0 0 8px #ffd95e inset;*/
    
    margin-top: 30px;
}
#imgCol1 {
    background-image: url("../img/calendar.png");
    
}
#imgCol2 {
    background-image: url("../img/panier.png");
   
}
#imgCol3 {
    background-image: url("../img/miam.png");
}

.titleCol {
    width: 259px;
    height: 70px;
    /*
     * THEME 1*/
    background-color: #ffde8d; 
    
    /*
     * THEME 2 
    background-color: #cc7841;*/
    
    margin-top: 10px;
}

.titleCol p {
    color: white;
    width: 228px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 9px;
    font-family: Calibri, Verdana, Arial, 'sans serif';
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
}

.conCol {
    width: 259px;
    height: 150px;
    /*
     * THEME 1*/
    background-color: #fff8ad; 
    
    /*
     * THEME 2 
    background: rgb(255,246,139); 
    background: -moz-linear-gradient(top,  rgba(255,246,139,1) 0%, rgba(255,217,94,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,246,139,1)), color-stop(100%,rgba(255,217,94,1))); 
    background: -webkit-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: -o-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff68b', endColorstr='#ffd95e',GradientType=0 );*/

}

.conCol p {
    width: 228px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 12px;
    font-family: Calibri, Verdana, Arial, 'sans serif';
    font-size: 18px;
    line-height: 25px; 
}

.ligne{
    padding-left: 9px;
    margin-left: 18px;
    margin-top: 15px;
}

.imgLig {
    width: 259px;
    height: 118px;
    /*
     * THEME 1 */
    box-shadow: 0 0 0 8px #ffde8d inset;
    
    /*
     * THEME 2 
    box-shadow: 0 0 0 8px #ffd95e inset;*/
    
    float: left;
    margin-top: 15px;
}

#imgLig1 {
    background-image: url("../img/varie.png");
}

.titleLig {
    float: left;
    margin-left: 10px;
    width: 598px;
    /*
     * THEME 1*/
    background-color: #ffde8d; 
    
    /*
     * THEME 2 
    background-color: #cc7841;*/
    
    height: 30px;
    margin-top: 15px;
}

.titleLig p {
    color: white;
    font-weight: bold;
    font-family: Calibri, Verdana, Arial, 'sans serif';
    margin-left: 10px;
    font-size: 18px;
    padding-top: 5px;
}

.conLig {
    width: 598px;
    height: 88px;
    /*
     * THEME 1*/
    background-color: #fff8ad; 
    
    /*
     * THEME 2 
    background: rgb(255,246,139);
    background: -moz-linear-gradient(top,  rgba(255,246,139,1) 0%, rgba(255,217,94,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,246,139,1)), color-stop(100%,rgba(255,217,94,1))); 
    background: -webkit-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: -o-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%); 
    background: linear-gradient(to bottom,  rgba(255,246,139,1) 0%,rgba(255,217,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff68b', endColorstr='#ffd95e',GradientType=0 ); */

    
    float: left;
    margin-left: 10px;
}

.conLig p {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;
    font-family: Calibri, Verdana, Arial, 'sans serif';
    font-size: 15px;
    line-height: 15px; 
}

#planning td {
    width: 130px;
    padding: 0;
    height: 36px;
    text-align: center;
    border: none;
    
    /*
     * THEME 1 */
    background: rgb(255,250,177);
    background: -moz-linear-gradient(top,  rgba(255,250,177,1) 0%, rgba(255,246,115,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,250,177,1)), color-stop(100%,rgba(255,246,115,1)));
    background: -webkit-linear-gradient(top,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,250,177,1) 0%,rgba(255,246,115,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffab1', endColorstr='#fff673',GradientType=0 );
    
    
    
}

#planning .accordion {
    margin-bottom: 0;
}
#planning .accordion-group {
    border: none;
    margin-bottom: 0px;
}
#planning .accordion-inner {
    border: none;
    min-height: 20px;
}

#planning .accordion-heading {
    /*
     * THEME 1 */
    background-color: #ffd95e;
    
    
    /*
     * THEME 2 
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); 
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); 
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); 
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 );*/



    border: none;
    font-family:  'arial', 'sans-serif';
    font-weight: bold;
    min-height: 36px;
    
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
}
#planning .accordion-body {

    background-color: white;
    border: none;
    font-family: 'arial', 'sans-serif';
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
   
}

#planning .accordion-toggle {
    color: white;
    text-decoration: none;
    min-height: 20px;
}

#planning .accordion-heading:hover {
    background-color: #ffd18a;

}

#planning table {
   border: none; 
}

#planning tr{
   border: none; 
}

#entetePlanning {
    /*
     * THEME 1 */
    background: rgb(239,253,168); 
    background: -moz-linear-gradient(top,  rgba(239,253,168,1) 1%, rgba(208,226,116,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,253,168,1)), color-stop(100%,rgba(208,226,116,1))); 
    background: -webkit-linear-gradient(top,  rgba(239,253,168,1) 1%,rgba(208,226,116,1) 100%); 
    background: -o-linear-gradient(top,  rgba(239,253,168,1) 1%,rgba(208,226,116,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(239,253,168,1) 1%,rgba(208,226,116,1) 100%); 
    background: linear-gradient(to bottom,  rgba(239,253,168,1) 1%,rgba(208,226,116,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effda8', endColorstr='#d0e274',GradientType=0 ); 
    
    
    /*
     * THEME 2 
    background: rgb(200,113,93);
    background: -moz-linear-gradient(top,  rgba(200,113,93,1) 0%, rgba(153,67,47,1) 72%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,113,93,1)), color-stop(72%,rgba(153,67,47,1))); 
    background: -webkit-linear-gradient(top,  rgba(200,113,93,1) 0%,rgba(153,67,47,1) 72%); 
    background: -o-linear-gradient(top,  rgba(200,113,93,1) 0%,rgba(153,67,47,1) 72%); 
    background: -ms-linear-gradient(top,  rgba(200,113,93,1) 0%,rgba(153,67,47,1) 72%); 
    background: linear-gradient(to bottom,  rgba(200,113,93,1) 0%,rgba(153,67,47,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8715d', endColorstr='#99432f',GradientType=0 );*/

    
    border-radius: 10px 10px 0 0;
    vertical-align: middle;
    
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);

}

#planning .title td {
    vertical-align: middle;
    background-image: -webkit-linear-gradient(top,white,#F2F2F2);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F2F2F2);
    font-weight: bold;
    border-right: 1px solid #ebebeb;
    
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
    
    border-radius: 0px;
}

#entetePlanning p {
    position: relative;
    color: white;
    font-family: 'arial', 'sans-serif';
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding-top: 15px;
    text-shadow: 0px 2px 3px #666;

}

#entetePlanning #nextPlanning {
    position: relative;
    float: right;
    margin-top: -50px;
}

#entetePlanning #prevPlanning {
    position: relative;
    float: left;
    margin-top: -50px;
}

#planning td.day {
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.3) inset,1px 0px 3px 0px #656565;
    border-radius: 0px;
    
}
/* ----------------------------------------------------------------------------- */

#planning2 .title {
    vertical-align: middle;
    background-image: -webkit-linear-gradient(top,white,#F2F2F2);
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F2F2F2);
    font-weight: bold;
    border-right: 1px solid #ebebeb;
    
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
    
    border-radius: 0px;
    
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

#planning2 .accordion {
    margin-bottom: 20px;
}
#planning2 .accordion-group {
    border: none;
    margin-bottom: 0px;
}
#planning2 .accordion-inner {
    border: none;
    min-height: 40px;
    padding: 0;
}

#planning2 .accordion-heading {
    /*
     * THEME 1 */
    background-color: #ffd95e;
    
    
    /*
     * THEME 2 
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); 
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); 
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); 
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 );*/



    border: none;
    font-family:  'arial', 'sans-serif';
    font-weight: bold;
    min-height: 36px;
    
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
}
#planning2 .accordion-body {

    background-color: white;
    
    border: none;
    font-family: 'arial', 'sans-serif';
    -moz-box-shadow: 1px 0px 3px 0px #656565;
    -webkit-box-shadow: 1px 0px 3px 0px #656565;
    -o-box-shadow: 1px 0px 3px 0px #656565;
    box-shadow: 1px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
   
}

#planning2 .accordion-toggle {
    color: white;
    text-decoration: none;
    min-height: 20px;
}

#planning2 .accordion-heading:hover {
    background-color: #ffe48d;

}

#planning2 .day {
    box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.3) inset,1px 0px 3px 0px #656565;
    border-radius: 0px;  
}

#planning2 .ligneRepas {   
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
}

#planning2 .ligneRepas:hover {   
    background-color: #f9f9f9
}

#planning2 .vide{   
    font-style: italic;
    text-align: center;
}

.ligneRepas a {
    color: black;
}

.infoRecette {
    float: right;
}

#recettePanelGauche {
	float: left;
	margin-right: 1.5em;
	margin-top: 1em;
	/* background-color: gray; */
}

#recettePanelGauche img {
	max-width: 250px;
    max-height: 250px;
	display: block;
}