{% extends "base.html" %}
{% load static %}

{% block header-right %}

    <!--<form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Rechercher une recette, un produit...">
    </form>-->

{% endblock %}
    
    
{% block content %}
    <div id="home-top" class="row">
        <div id="caroussel" class="carousel slide, span8">
            <div class="carousel-inner">
                <div class="active item">
                    <img alt="" src="{% static 'img/slide1.png' %}"/>
                    <div class="carousel-caption">
                        <p>Decouvrez de nouvelles recettes</p>
                    </div>
                </div>
                
                <div class="item">
                    <img alt="" src="{% static 'img/slide2.png' %}"/>
                    <div class="carousel-caption">
                        <p>Celebrez les fetes comme il se doit</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control left" href="#caroussel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#caroussel" data-slide="next">&rsaquo;</a>
        </div>
        <div id="home-top-right" class="span4">
            <p>Commencez votre planning immediatement</p>
            <p>
                <button class="btn btn-large btn-primary" type="button" onclick="self.location.href='/inscription'">S'inscrire</button>
            </p>
        </div>
    </div>
    <div id="home-bottom" class="row">
        <div class="span3 col">
            <div id="imgCol1" class="imgCol">
                
            </div>
            <div class="titleCol">
                <p>Programmez l ensemble de vos repas </p>
            </div>
            <div class="conCol">
                <p>
                    Faites votre planning 
                    de la semaine pour vous 
                    et votre famille grace a une
                    large selection de recettes. 
                </p>
            </div>
        </div>
        <div class="span3 col">
            <div id="imgCol2" class="imgCol">
                
            </div>
            <div class="titleCol">
                <p>Commandez sans bouger de chez vous</p>
            </div>
            <div class="conCol">
                <p>
                    Commandez l ensemble 
                    des ingredients necessaires 
                    a la preparation de 
                    vos recettes.
                </p>
            </div>
        </div>
        <div class="span3 col">
            <div id="imgCol3" class="imgCol">
                
            </div>
            <div class="titleCol">
                <p>Cuisinez et degustez</p>
            </div>
            <div class="conCol">
                <p>
                    A la reception de vos 
                    produits, enfilez votre 
                    tablier, preparez votre 
                    repas et partagez le avec 
                    votre entourage.
                </p>
            </div>
        </div>
        
        <div class="row ligne">
            <div id="imgLig1" class="imgLig">
                
            </div>
            <div class="titleLig">
                <p>Mangez varie</p>
            </div>
            <div class="conLig">
                <p>
                    Nous vous proposons differentes recettes selon vos preferences, 
                    vos objectifs, les repas de saisons...
                </p>
            </div>
        </div>
    </div>
    
    
{% endblock %}