{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="home-top" class="row">
        {% include "home/carousel.html" %}
		{% include "home/top-right.html" %}  
    </div>
	{% include "home/news.html" %}
    <div id="home-bottom" class="row">
        <div class="span3 col">
            <div id="imgCol1" class="imgCol">
                
            </div>
            <div class="titleCol">
                <p>Programmez l'ensemble de vos repas </p>
            </div>
            <div class="conCol">
                <p>
                    Faites votre planning 
                    de la semaine pour vous 
                    et votre famille grace a une
                    large sélection de recettes. 
                </p>
            </div>
        </div>
        <div class="span3 col">
            <div id="imgCol2" class="imgCol">
                
            </div>
            <div class="titleCol">
                <p>Commandez sans bouger de chez vous</p>
            </div>
            <div class="conCol">
                <p>
                    Commandez l'ensemble 
                    des ingredients nécessaires 
                    a la préparation de 
                    vos recettes.
                </p>
            </div>
        </div>
        <div class="span3 col">
            <div id="imgCol3" class="imgCol">
                
            </div>
            <div class="titleCol">
                <p>Cuisinez et dégustez</p>
            </div>
            <div class="conCol">
                <p>
                    A la réception de vos 
                    produits, enfilez votre 
                    tablier, préparez votre 
                    repas et partagez le avec 
                    votre entourage.
                </p>
            </div>
        </div>
        
        <div class="row ligne">
            <div id="imgLig1" class="imgLig">
                
            </div>
            <div class="titleLig">
                <p>Mangez varié</p>
            </div>
            <div class="conLig">
                <p>
                    Nous vous proposons différentes recettes selon vos préferences, 
                    vos objectifs, les repas de saison...
                </p>
            </div>
        </div>
    </div>
    
    
{% endblock %}
