{% extends "base.html" %}
{% block content %}

{% if validlink %}
	<form method="post">{% csrf_token %}
	{% if form.non_field_errors %}
		<div class="form_errors">
		{% for err in form.non_field_errors %}
			<div class="form_error_message">{{ err }}</div>
		{% endfor %}
		</div>  
	{% endif %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
		<div {% if field.errors %}class="field_error"{% endif %}>
			{{ field.label_tag }}
			{{ field }}
			{% for err in field.errors %}
				<span class="error_message">{{ err }}</span>
			{% endfor %}
		</div>
	{% endfor %}
{% else %}
<p>Le lien sur lequel vous avez cliqué n'est plus valable.</p>
{% endif %}
{% endblock %}

