{% extends "base.html" %}
{% load static %}

{% block content %}
	<form action="{% url planning.views.ajouter_repas %}" method="post">{%csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="fieldWrapper">
                    {{ form.date.errors }}
                    <label for="id_date">Date :</label>
                    <div id="datetimepicker" class="input-append date">
                        {{ form.date }}
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                    </div>
                </div>
                <div class="fieldWrapper">
                    {{ form.ordre.errors }}
                    <label for="id_ordre">Type :</label>
                    {{ form.ordre }}
                </div>
                <div class="fieldWrapper">
                    {{ form.nbPersonne.errors }}
                    <label for="id_nbPersonne">Nombre de personnes :</label>
                    {{ form.nbPersonne }}
                </div>
                <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </form>
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        pickTime: false,
        format: 'yyyy-MM-dd',
      });
    </script>
{% endblock %}
