{% extends "base.html" %}
{% load static %}

{% block content %}
            <script>
   $(document).ready(function() {
      $('.round').roundabout();
   });
</script>
    <div id="planning-gauche" class="span3">
        <div id="suggestion" >
            <h5>Vous aimerez peut-etre</h5>
            {% for recetteProp in recettesProp %}
                <div class="recetteProp"><a href="/recette/detail/{{recetteProp.id}}"><img src="{{recetteProp.image.url}}" class="" alt="Illustration pour : {{recetteProp.nom}}"/></a></div><br/>
            {% endfor %}
        </div>
        <br/>
        <div><a href="/panier/generer?dd={{debutSemaine|date:"Y-m-d"}}&df={{finSemaine|date:"Y-m-d"}}" class="btn">Remplir le panier</a></div><br/>
        <div><a href="#" class="btn">Generer le planning</a></div>
    </div>
    
    <div id="planning3" class="span5">
        <div id="entetePlanning2">
            <p>{{debutSemaine}} - {{finSemaine}}<br><br></p>
            <a id="prevPlanning" class="carousel-control left" href="/planning?d={{semainePrecedente|date:"Y-m-d"}}" data-slide="prev">&lsaquo;</a>
            <a id="nextPlanning" class="carousel-control right" href="/planning?d={{semaineSuivante|date:"Y-m-d"}}" data-slide="next">&rsaquo;</a> 
        </div>
        <ul class="round">
            {% for ligne in planning %}
                <li class="slide">
                    <div class="title day">{{ligne.0.date}}</div>
                    <ul class="onglets nav nav-tabs">
                        <li class="tab"><a href="#{{forloop.counter}}1" data-toggle="tab">Petit-dejeuner</a></li>
                        <li class="tab"><a href="#{{forloop.counter}}2" data-toggle="tab">Dejeuner</a></li>
                        <li class="tab"><a href="#{{forloop.counter}}3" data-toggle="tab">Diner</a></li>
                    </ul>
                    <div class="tab-content">
                        {% for col in ligne %}
                        <div class="tab-pane {% if forloop.counter == 1 %} active {% endif%}" id="{{forloop.parentloop.counter}}{{forloop.counter}}">
                            {% if col.recette == None or col.produit == None%}
                                <div class="ligneRepas vide">Aucun repas</div>
                                <div class="ligneRepas"><a href="ajouter-repas?d={{col.date|date:"Y-m-d"}}&o={{col.ordre}}&t=r" class="btn">Ajouter une recette</a><a href="ajouter-repas?d={{col.date|date:"Y-m-d"}}&o={{col.ordre}}&t=p" class="btn">Ajouter un produit</a></div>
                            {% else %}
                                {% for re in col.recette.all %}
                                    <div class="ligneRepas"><a href="/recette/detail/{{re.id}}">{{re.nom}}</a><div class="infoRecette">Difficulte : {{re.difficulte}}/5, Temps de preparation : {{re.duree}} min.<a href="retirer-recette/?d={{col.date|date:"Y-m-d"}}&o={{col.ordre}}&r={{re.id}}"><button class="btn btn-primary" value="Supprimer">Supprimer</button></a></div></div>
                                {% endfor %}
        
                                {% for pr in col.produit.all %}
                                    <div class="ligneRepas"><a href="/produit/detail/{{pr.produit.id}}">{{pr.produit.nom}}</a> ({{pr.quantite}} {{pr.unite.abreviation}}.)<div class="infoRecette"><a href="retirer-produit/?d={{col.date|date:"Y-m-d"}}&o={{col.ordre}}&p={{pr.id}}"><button class="btn btn-primary" value="Supprimer">Supprimer</button></a></div></div>
                                {% endfor %}
                                <div class="ligneRepas"><a href="ajouter-repas?d={{col.date|date:"Y-m-d"}}&o={{col.ordre}}&t=r" class="btn">Ajouter une recette</a><a href="ajouter-repas?d={{col.date|date:"Y-m-d"}}&o={{col.ordre}}&t=p" class="btn">Ajouter un produit</a></div>
                            {% endif%}
                        </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>

    
        

{% endblock %}

