{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="planning">
        {{r}}<br/>
        {{o}}<br/>
        <div id="entetePlanning">
            <p>{{debutSemaine}} - {{finSemaine}}<br><br></p>
            <a id="prevPlanning" class="carousel-control left" href="/planning?d={{semainePrecedente|date:"Y-m-d"}}" data-slide="prev">&lsaquo;</a>
            <a id="nextPlanning" class="carousel-control right" href="/planning?d={{semaineSuivante|date:"Y-m-d"}}" data-slide="next">&rsaquo;</a> 
        </div>
        <div id="tableauPlanning">
           <table class="table table-bordered">
                <tr class="title">
                    {% if day == "Monday" %}
                        <td class="day">Lundi</td>
                    {% else %}
                        <td>Lundi</td>
                    {% endif%}
                    {% if day == "Tuesday" %}
                        <td class="day">Mardi</td>
                    {% else %}
                        <td>Mardi</td>
                    {% endif%}
                    {% if day == "Wednesday" %}
                        <td class="day">Mercredi</td>
                    {% else %}
                        <td>Mercredi</td>
                    {% endif%}
                    {% if day == "Thursday" %}
                        <td class="day">Jeudi</td>
                    {% else %}
                        <td>Jeudi</td>
                    {% endif%}
                    {% if day == "Friday" %}
                        <td class="day">Vendredi</td>
                    {% else %}
                        <td>Vendredi</td>
                    {% endif%}
                    {% if day == "Saturday" %}
                        <td class="day">Samedi</td>
                    {% else %}
                        <td>Samedi</td>
                    {% endif%}
                    {% if day == "Sunday" %}
                        <td class="day">Dimanche</td>
                    {% else %}
                        <td>Dimanche</td>
                    {% endif%}
                </tr>
                {% for ligne in planning %} 
                <tr>
                    {% for col in ligne %}
                    <td>
                        <div class="accordion" id="accordion{{forloop.parentloop.counter}}{{forloop.counter}}">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{forloop.parentloop.counter}}{{forloop.counter}}" href="#collapse{{forloop.parentloop.counter}}{{forloop.counter}}">
                                        {% if col.recette != None %}
                                            {{col.recette.nom|truncatechars:13}}
                                        {% elif col.produit.count > 0 %}
                                            {{ col.produit.0.nom|truncatechars:13 }}
                                        {% endif%}
                                    </a>
                                </div>
                                <div id="collapse{{forloop.parentloop.counter}}{{forloop.counter}}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                         {% if col.recette != None %}
                                            {{col.recette.nom|truncatechars:13}}
                                        {% elif col.produit.count > 0 %}
                                            {{ col.produit.0.nom|truncatechars:13 }}
                                        {% else %}
                                            <a href="#myModal" data-toggle="modal">Ajouter</a>
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
             
            
        </div>
    </div>
    
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Ajout d'un repas</h3>
      </div>
      <div class="modal-body">
            {% for recette in recettes %}
                <div class="choixRecette">
                    {{ recette.nom }}tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
                </div>
            {% endfor %}
            <form action="{% url planning.views.home %}" method="post">{%csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.recette.errors }}
                    <label for="id_recette">Recette :</label>
                    {{ form.recette }}
                </div>
                <div class="fieldWrapper">
                    {{ form.date.errors }}
                    <label for="id_date">Date :</label>
                    <div id="datetimepicker" class="input-append date">
                        <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                    </div>
                </div>
                <div class="fieldWrapper">
                    {{ form.ordre.errors }}
                    <label for="id_ordre">Type :</label>
                    {{ form.ordre }}
                </div>
                <div class="fieldWrapper">
                    {{ form.nbPersonne.errors }}
                    <label for="id_nbPersonne">Nombre de personnes :</label>
                    {{ form.nbPersonne }}
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
        <input type="submit" class="btn btn-primary" value="Enregistrer" />
      </div>
    </div>
        
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        pickTime: false,
        format: 'yyyy-MM-dd',
      });
    </script>

{% endblock %}

